@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Keania+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

main {
    display: flex;
}

        /* Esconder o input radio */
input[type="radio"] {
    display: none;
}

        /* Estilo para o label que será a aparência do radio button */
label {
    cursor: pointer;
    display: inline-block;
    width: 1.25vw;
    height: 1.25vw;
    background-size: contain;
    background-repeat: no-repeat;
}

        /* Imagem para o estado "não marcado" */
input[type="radio"]:not(:checked) + label {
    background-image: url('imgs/unchecked.png');
}

        /* Imagem para o estado "marcado" */
input[type="radio"]:checked + label {
    background-image: url('imgs/checked.png');
}


#alert-box {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 0.75vw;
    width: fit-content;
    background-color: #f36464;
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);
    padding: 0.4vw 0.7vw;
    border-radius: 0.5vw;
    z-index: 2;

    img {
        width: 1.25vw;
        height: 1.25vw;
    }

    p {
        font-family: 'Open sans';
        color: white;
        font-size: 0.8vw;
    }
    
}

#left-side {
    background-color: #012326;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5vw;


    /* Primeira div de título, descrição */
    >:nth-of-type(1){
        display: flex;
        flex-direction: column;
        gap: 1.5vh;
        width: 80%;
        margin-top: 9vh;

        h1 {
            color: white;
            font-family: "Keania One", sans-serif;
            font-size: 4.5vw;
            margin: 0;
            padding: 0;

        } 

        p {
            font-family: 'Open sans';
            color: #78B8BF;
            font-size: 1vw;
        }

        p:last-child {
            color: white;
            font-size: 1vw;
            font-family: 'Open sans';
            width: 80%;
        }
    }

    /* Segundo div onde está as estatisticas e teste manual*/
    >:nth-of-type(2){
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 3vw;
        overflow-x: auto;
        max-height: 26vw;

        /*Div estatisticas*/
        section:first-child{
            display: flex;
            flex-direction: column;
            width: 90%;

            h1 {
                font-size: 2vw;
                font-family: 'Poppins';
                color: white;
            }

            /* Div onde contem blocos pequenos de estatisticas*/
            >:nth-of-type(1){
                margin-top: 1vw;
                display: flex;
                justify-content: space-between;

                /* Configurações de */
                div {
                    border-radius: 0.5vw 0.5vw 0 0.5vw;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: #457E83;
                    padding: 0.4vw 0.3vw;

                    p {
                        color: white;
                        font-family: 'Open sans';
                        font-size: 0.8vw;
                        text-align: center;
                        width: 70%;
                    }

                    h2 {
                        text-align: center;
                        font-family: 'Poppins';
                        font-size: 1.25vw;
                        color: white;

                    }
                }
            }

            /* Div onde contem blocos grande de estatisticas*/
            >:nth-of-type(2){
                display: flex;  
                justify-content: space-between;
                gap: 3vw;
                border-radius: 0.5vw 0.5vw 0 0.5vw;
                margin-top: 2.25vw;


                /* Configurações do bloco*/
                div {
                    border-radius: 0.6vw 0.6vw 0 0.6vw;
                    border: 0.25vw solid #78B8BF;
                    width: 50%;
                    display: flex;
                    align-items: center;
                    padding: 1.2vw 0.3vw;
                    justify-content: space-around;
                    

                    p {
                        color: white;
                        font-family: 'Open sans';
                        font-size: 1vw;
                    }

                    h2 {
                        font-family: 'Poppins';
                        font-size: 1.25vw;
                        color: white;
                    }
                }
            }
        }

        /*Div testes de array simples */
        section:last-child{
            display: flex;
            flex-direction: column;
            gap: 1.4vw;

            div:nth-of-type(1){
                h1 {
                    font-size: 2vw;
                    font-family: 'Poppins';
                    color: white;
                }
    
                h2 {
                    color: white;
                    font-size: 1vw;
                    font-weight: normal;
                    font-family: 'Open sans';
                    width: 80%;
                }
            }

            div:nth-of-type(2){
                display: flex;
                flex-direction: column;                

                label {
                    width: 100%;
                    color: #78B8BF;
                    font-family: 'Open sans';
                    font-size: 0.9vw;
                    margin-bottom: 0.5vw;
                }

                input {
                    transition: 0.2s;
                    width: 90%;
                    background: none;
                    border-radius: 0 0.5vw 0.5vw 0.5vw;
                    padding: 0.55vw;
                    border: 0.25vw solid #78B8BF;
                    color: white;
                    font-family: 'Open sans';
                    font-size: 1vw;

                    &:focus{
                        border: 0.25vw solid #8bcddc;
                        outline: none;
                    }
                }
            }

            div:nth-of-type(3){
                display: flex;
                flex-direction: column;                

                label {
                    width: 100%;
                    color: #78B8BF;
                    font-family: 'Open sans';
                    font-size: 0.9vw;
                    margin-bottom: 0.5vw;
                }

                input {
                    cursor: not-allowed;
                    transition: 0.2s;
                    width: 90%;
                    background: #4995A6;
                    border-radius: 0 0.5vw 0.5vw 0.5vw;
                    padding: 0.55vw;
                    border: none;
                    color: white;
                    font-family: 'Open sans';
                    font-size: 1vw;

                    &:focus{
                        outline: none;
                    }
                }
            }

            div:nth-of-type(4){
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 90%;

                p {
                    position: relative;
                    display: inline-block;
                    color: #000; /* Cor inicial do texto */
                    transition: color 0.3s ease; /* Transição suave para a cor do texto */
                    cursor: pointer;
                    height: fit-content;
                    font-family: 'Poppins';
                    font-size: 1vw;
                    color: #4995A6;
                    border-bottom: 0.1vw solid #4995A6;
        
                }

                button {
                    display: flex;
                    gap: 0.5vw;
                    background: none;
                    border: 0.2vw solid #78B8BF;
                    border-radius: 0.5vw 0.5vw 0 0.5vw;
                    justify-content: center;
                    align-items: center;
                    padding: 0.75vw;
                    transition: 0.2s;
        
                    h1 {
                        color: white;
                        font-family: 'Poppins';
                        font-weight: normal;
                        font-size: 1vw;
                    }
        
                    img {
                        height: 0.75vw;
                        width: 1.1vw;
                    }
        
        
                    &:hover {
                        cursor: pointer;
                        background-color: #78b8bf37;
                        transition: 0.2s;
                    }
                }
            }
        }
    }


}

#right-side {
    background-color: #013A40;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vw;


    /* Estilos para seleção de opções */
    .div-options {
        display: flex;
        gap: 2vw;

        .options {
            display: flex;
            align-items: center;
            gap: 0.5vw;
    
            p {
                color: white;
                font-family: 'Open sans';
                font-size: 1.25vw;
            }
        }
    }
    
    /* Estilo para a linha que fica entre os inputs */
    .vertical-line{
        height: 3vw;
        width: 80%;
        border-left: 0.1vw solid #ffffffc2;
        
    }


    /* Primeira div, selecionar o tipo de sort */
    >:nth-of-type(1){
        margin-top: 10vh;
        width: 80%;


        h1 {
            margin-bottom: 1.5vh;
            font-family: 'Poppins';
            font-size: 1.6vw;
            margin-bottom: 0.75vw;
            color: white;
        }
    }

    /* Segunda div, selecionar os números */
    >:nth-of-type(3) {
        width: 80%;

        h1 {
            margin-bottom: 1.5vh;
            font-family: 'Poppins';
            font-size: 1.6vw;
            color: white;
            margin: 0;
        }

        h2 {
            color: white;
            font-family: 'Open sans';
            font-weight: normal;
            font-size: 1.2vw;
            margin-bottom: 1vw;

        }

    }


    /* Terceira div, como vai ser a comparação de desempenho */
    >:nth-of-type(5) {
        width: 80%;

        h1 {
            font-family: 'Poppins';
            font-size: 1.6vw;
            color: white;
            margin: 0;
        }

        h2 {
            color: white;
            font-family: 'Open sans';
            font-weight: normal;
            font-size: 1.2vw;
            margin-bottom: 1vw;

        }

    }


    /* Div final contendo os botões de reset e fazer teste*/
    >:nth-of-type(6) {
        width: 80%;
        margin-top: 5vw;

        display: flex;
        justify-content: space-between;

        p {
            position: relative;
            display: inline-block;
            color: #000; /* Cor inicial do texto */
            transition: color 0.3s ease; /* Transição suave para a cor do texto */
            cursor: pointer;
            height: fit-content;
            font-family: 'Poppins';
            font-size: 1vw;
            color: #4995A6;
            border-bottom: 0.1vw solid #4995A6;

        }

        button {
            display: flex;
            gap: 0.5vw;
            background: none;
            border: 0.2vw solid #78B8BF;
            border-radius: 0.5vw 0.5vw 0 0.5vw;
            justify-content: center;
            align-items: center;
            padding: 0.75vw;
            transition: 0.2s;

            h1 {
                color: white;
                font-family: 'Poppins';
                font-weight: normal;
                font-size: 1vw;
            }

            img {
                height: 0.75vw;
                width: 1.1vw;
            }


            &:hover {
                cursor: pointer;
                background-color: #78b8bf37;
                transition: 0.2s;
            }
        }
    }
}

/*Transição para o botão de resetar*/
/*INICIO*/


.resetar::after {
    content: '';
    position: absolute;
    bottom: -3px; /* Posição da linha abaixo do texto */
    left: 0;
    width: 0; /* A linha começa com largura 0 */
    height: 2px;
    background-color: #78b8bf37;; /* Cor inicial da linha */
    transition: width 0.3s ease, background-color 0.3s ease; /* Transição suave para largura e cor */
}

.resetar:hover {
    color: #78b8bf37;; /* Cor do texto ao passar o mouse */
}

.resetar:hover::after {
    width: 100%; /* Quando o hover acontece, a linha expande até 100% */
    background-color: #5a9ca8; /* Cor alterada levemente ao passar o mouse */
}
/*Transição para o botão de resetar*/
/*FIM*/


/*Transição para o botão de MAKE TEST*/
/*INICIO*/
.button-container {
    width: 80%;
    margin-top: 5vw;
    display: flex;
    justify-content: space-between;

    p {
        cursor: pointer;
        height: fit-content;
        font-family: 'Poppins';
        font-size: 1vw;
        color: #4995A6;
        border-bottom: 0.1vw solid #4995A6;
    }
}

.make-test-button {
    position: relative;
    display: flex;
    gap: 0.5vw;
    background: none;
    border: 0.2vw solid #78B8BF;
    justify-content: center;
    align-items: center;
    padding: 0.75vw;
    transition: 0.3s ease;
    overflow: hidden; /* Ensures that the gradient does not overflow the button */
}

.make-test-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0.2vw solid transparent; /* Initial border */
    box-shadow: 0 0 0 0.2vw #78B8BF; /* Initial border shadow */
    transition: box-shadow 0.3s ease, border 0.3s ease;
    z-index: 1;
}

.make-test-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #78B8BF);
    transition: width 0.3s ease;
    z-index: 0;
}

.make-test-button:hover::before {
    box-shadow: 0 0 0 0.4vw #78B8BF; /* Stronger border shadow on hover */
}

.make-test-button:hover::after {
    width: 10vw;/*Gradualfillonhover*/
}

.make-test-button h1 {
    color: white;
    font-family: 'Poppins';
    font-weight: normal;
    font-size: 1vw;
    z-index: 2;
}

.make-test-button img {
    height: 0.75vw;
    width: 1.1vw;
    z-index: 2;
}
/*Transição para o botão de MAKE TEST*/
/*FIM*/



/* Estilizar inputs de rádio como botões quadrados */
.square-radio {
    position: relative;
    appearance: none;
    width: 2vw; /* Ajuste conforme necessário */
    height: 2vw; /* Ajuste conforme necessário */
    background-color: #f0f0f0;
    border: 2px solid #78B8BF;
    border-radius: 0.2vw; /* Mantém o botão com bordas arredondadas */
    cursor: pointer;
    outline: none;
    transition: 
        background-color 0.3s ease, /* Transição suave para a cor de fundo */
        border-color 0.3s ease, /* Transição suave para a cor da borda */
        box-shadow 0.3s ease, /* Transição suave para a sombra */
        transform 0.1s ease, /* Transição suave para o efeito de clique */
        border-width 0.3s ease; /* Transição suave para a largura da borda */
}

.square-radio:checked {
    background-color: #78B8BF;
    border-color: #78b8bf37; /* Cor de borda quando selecionado */
    border-width: 2px; /* Mantém a borda consistente quando selecionado */
}

.square-radio:focus {
    box-shadow: 0 0 0 3px rgba(120, 184, 191, 0.5); /* Adiciona uma borda externa suave quando o botão está em foco */
}

.square-radio:active {
    background-color: #5a9ca8; /* Cor mais escura quando pressionado */
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra interna para simular o efeito de pressionado */
    transform: scale(0.95); /* Leve efeito de escala para simular o clique */
    border-width: 2px; /* Mantém a largura da borda quando pressionado */
}

.square-radio::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%; /* Ajustado para menor espaço em branco */
    height: 50%; /* Ajustado para menor espaço em branco */
    border-radius: 0.2vw; /* Mantém a borda arredondada no meio */
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease; /* Transição suave para a opacidade */
    opacity: 0;
}

.square-radio:checked::after {
    opacity: 1;
}


/*Dropdown da escolha do grafico*/
#dropdown{
    position: relative;
    display: inline-block;
}

#dropdown select{
    width: 200px;
    height: 40px;
    padding: 5px 10px;
    font-size: 16px;
    color: #fff;
    background-color: #003B40;
    border: 1px solid #3a767d;
    border-radius: 5px;
    appearance: none;
    cursor: pointer;
}

#dropdown::after{
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #fff;
    pointer-events: none;
}

#perfomance-results-container {
    display: flex;
    height: 100vh;
    background-color: #00303C;   

    #perfomance-results-left{
        margin-left: 4.5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        
        /* Tive que botar essa div pra fazer o traço no lado direito*/
        >:nth-of-type(1) {
            border-right: 0.11vw solid rgba(255, 255, 255, 0.37);


            >:nth-of-type(1){
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1vw;

            h1 {
                color: white;
                font-family: 'Poppins';
                font-size: 2vw;
            }

            p {
                color: white;
                font-size: 1vw;
                font-family: 'Open sans';
            }

            }

        /* Section de resultados de arrays desorganizados/organizados*/
        >:nth-of-type(2) {

            margin-top: 2.5vw;
            display: flex;
            flex-direction: column;
            gap: 2vw;

            /* Divs que contem Unsorted/Sorted Array */
            >:nth-of-type(1), >:nth-of-type(2) {
                h2 {
                    color: white;
                    font-size: 1vw;
                    font-weight: normal;
                    font-family: 'Open sans';
                    margin-bottom: 0.5vw;
                    margin-left: 0.5vw;
                }
                

                /* Estilos para caixa de arrays*/
                div {
                    overflow-y: auto;
                    background-color: #012326;
                    width: 75%;
                    padding: 0.7vw 1vw;
                    border-radius: 0.5vw;
                    height: 12vw;
                    max-height: 12vw;

                    p{
                        color: #78B8BF;
                        font-family: 'Open sans';
                        font-size: 1vw;
                    }
                }

            }



        }

    }

    }

    #perfomance-results-right{
        display: flex;
        flex-wrap: wrap;
        width: 65%;
        border: 1px solid red   ;
    }

}

#myChart{
    margin-top: 8vh;
}